on:
  schedule:
    - cron: '1 * * * *' #每个小时的刷新1次
jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'refresh b4a app'
        run: bash ./b4app.sh
